.twopeople(style="margin: 0;align-items: center;justify-content: center;text-align: center;")
    .container(style="height: 180px; margin: 0; align-items: center; justify-content: center; text-align: center;")
      canvas.illo(width="600" height="600" style="display: block;margin: 0 auto;cursor: move;max-width: 200px; max-height: 200px; touch-action: none; width: 480px; height: 480px;")
    
<script src="https://npm.elemecdn.com/justlovesmile-static/js/twopeople1.js"></script>
<script src="https://npm.elemecdn.com/justlovesmile-static/js/zdog.dist.js"></script>
<script id="rendered-js" src="https://npm.elemecdn.com/justlovesmile-static/js/twopeople.js"></script>